{% extends 'base.html.twig' %}

{% block title %}Edit Commentair{% endblock %}

{% block body %}
    <h1>Edit Commentair</h1>

    {{ include('commentair/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commentair_index') }}">back to list</a>

    {{ include('commentair/_delete_form.html.twig') }}
{% endblock %}
